@import "tailwindcss";
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #803720; /* Scrollbar handle color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e64a19; /* Hover state */
}
